.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f8f8f8; /* Set a light background color to resemble paper */
}


.image-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.image {
  width: 600px; /* Adjust the width as needed */
  height: auto;
  animation: fadeInImage 1s ease forwards;
}

#helloText {
  font-family: 'Playfair Display';
  font-size: 150px;
  
  font-weight: bold;
  color: black;
  opacity: 0;
}

@media (max-width: 768px) {
  .image-container {
    bottom: 10px;
    left: 10px;
  }

  .image {
    width: 300px;
  }

  #helloText {
    font-size: 90px;
  }
}


.notebook {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff; /* Set a white background color for the notebook */
  padding: 20px; /* Add some padding around the content to create margins */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Apply a subtle shadow effect */
}

.wipe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  background: rgb(242,222,242);
background: linear-gradient(74deg, rgba(242,222,242,1) 0%, rgba(159,215,220,1) 99%, rgba(255,255,255,1) 100%, rgba(235,226,237,1) 100%);
  z-index: 2;
  clip-path: circle(50% at 50% 0%) polygon(0% 100%, 100% 100%, 100% 80%, 0% 80%);
}



.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff7f50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff6347;
}